* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#container{
  width: 84%;
  max-width: 1280px;
  margin: 0 auto;
}

header {
   position:relative;
   height: 8rem;
   background: #edcc8b;
   box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
 }

  header h1{
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    color: floralwhite;
 }

nav {
  padding: 1rem 3rem ;
  background: #edcc8b;
}
  nav ul{
    display: flex;
    flex-direction: row;
  }
  nav ul li{
    margin-right: 2rem;
  }
  nav ul li a {
    color: floralwhite;
  }

main{
  display: flex;
  flex-wrap：wrap;
  justify-content:space-between;
}

  section{
    flex: 3;
    padding: 3rem;
    background: #faf5c5;
  }

    article{
      min-height: 8rem;
      padding: 1rem;
      margin-bottom: 2rem;
      background: #fff;
      color: #333;

    }

  aside{
    flex: 1;
    padding: 3rem;
    background: #c5d0b9;
    color: #333;
  }

footer {
  padding: 2rem 3rem;
  text-align: center;
  background: #edcc8b;
  color: floralwhite;
}
